.copy_right_footer 
{
    position: fixed;
    bottom: 0;
    width: 100;
    text-align: center;
}

body
{
    background: yellowgreen;
}

h1
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight:bold;
}

h4
{
    font-variant: initial;
    font-kerning: inherit;
    font-stretch: ultra-condensed;
}

#camera
{
 width:500px;
 border:1px solid rgb(1,2,3);
}

img
{
    width:30%;
    border-radius: 10px;
    padding:8px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}

img:hover
{
    border-radius: 120px;
}
.column
{
    display:inline;
    padding: 10px;
}